body {
    background-image: url(../img/blue.jpg);
}

h1, h2 {
    font-size: 3.5em;
    text-align: center;
    font-family: arial;
    margin: 10px;
}

.container {
    width: 600px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 6000)); */
    margin: auto;
    cursor: url(../img/palu1.png), auto;
}

.container:active {
    cursor: url(../img/palu2.png), auto;
}

button {
    display: block;
    margin: auto;
    font-size: 30px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    padding: 5px 14px;
}

button:hover {
    background-color: red;
    color: white;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -20px;
}

.tikus {
    height: 100%;
    width: 100%;
    background: url(../img/tikus.png) bottom center no-repeat;
    background-size: 78%;
    position: absolute;
    top: 120px;
    transition: top 0.5s;
}

.tanah.muncul .tikus{
    top: 5px;
}