<section
  id="certificates"
  class="py-16 px-6 scroll-mt-20 md:px-10 lg:px-20"
  data-aos="fade-up"
  style="background: var(--color-primary); color: #fff"
>
  <h3 class="text-3xl font-bold mb-10 text-white text-center">Certificates</h3>
  <div class="flex justify-center w-full">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-4xl">
      <!-- Certificate 1 -->
      <button
        type="button"
        onclick="openModal('sertifModal1')"
        class="bg-white/90 color-theme rounded-2xl shadow-xl p-6 flex flex-col items-center hover:scale-105 transition hover:shadow-2xl border-t-4 border-[var(--color-primary)] relative focus:outline-none"
      >
        <img
          src="img\sertif\ravte-2024.png"
          alt="Presenter on Ravte 2024"
          class="w-full h-40 object-cover rounded-lg mb-4 shadow border-2 border-[var(--color-primary)]"
        />
        <h4
          class="font-bold text-lg text-[var(--color-primary)] mb-1 text-center"
        >
          Presenter on Ravte 2024
        </h4>
        <p class="text-sm text-[var(--color-primary)] mb-2 text-center">
          Issued: 2024
        </p>
      </button>

      <!-- Certificate 2 -->
      <button
        type="button"
        onclick="openModal('sertifModal2')"
        class="bg-white/90 color-theme rounded-2xl shadow-xl p-6 flex flex-col items-center hover:scale-105 transition hover:shadow-2xl border-t-4 border-[var(--color-primary)] relative focus:outline-none"
      >
        <img
          src="img\sertif\pkm-2024.jpg"
          alt="PKM-KC Funding Recipient"
          class="w-full h-40 object-cover rounded-lg mb-4 shadow border-2 border-[var(--color-primary)]"
        />
        <h4
          class="font-bold text-lg text-[var(--color-primary)] mb-1 text-center"
        >
          PKM-KC Funding Recipient
        </h4>
        <p class="text-sm text-[var(--color-primary)] mb-2 text-center">
          Issued: 2024
        </p>
      </button>
    </div>
  </div>
</section>
